*{
    box-sizing: border-box;
}
body {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}
#page {
    flex-direction: column;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

}
header {
    position: relative;
    border-bottom: 1px solid #FFF;
    border-bottom-left-radius: 20px;
    z-index: 5;
    display: block;
    margin-bottom: -20px;   
    background-color: #FFF;
    height: 120px;
}
.header__icons{
    justify-content: space-between;
    display: flex;
    padding: 10px;
}
.header__title{
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    padding-left: 25px;
}
#card {
    position: relative;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    margin-bottom: -20px;
    height: 210px;
    background: #2ebf91;
    background: linear-gradient(to right, #2ebf91, #8360c3);

}
.card__info {
    display: block;
    color: #FFF;
    margin:20px;
}
.info {
    display:block;
    padding:10px;
}
.info input {
    outline: none;
    appearance: none;
    border: 0;
    border-bottom: 1px solid #FFF;
    background-color: transparent;
    width: 80%;
}
::placeholder{
    color: #FFF;
}
#product {
    position: relative;
    border-bottom: 1px solid #000;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    z-index: 1;
    flex-grow: 9;
    background-color: #000;
    margin-bottom: -20px
}
.list {
    display: block;
    color: #FFF;
    margin-top: 40px
}
.item {
    display: flex;
    border-bottom: 1px solid #757575;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    font-size: 12px;
}
.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    font-size: 12px;
}
.price span {
    font-size: 50px;
}
#continue{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #AA00FF;
    color: #FFF;
    height: 120px;
}
.button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}
.button h2 {
    width: 300px;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 480px){
    header {
        margin-bottom: 0px;
        border-radius: 0px;
        height: 100px;
    }
    #card {
        border-radius: 20px;
        margin-bottom: 0px;
        width: 80%;
        left: 10%;
        margin-top: 20px;
    }
    #product{
        border-radius: 0px;
    }
    #continue{
        border-radius: 0px;
        height: 100px;
}



